/* General styling */
body {
    font-family: "Poppins", "Times New Roman";
    background-color: #FFF5DA;
    margin: 0;
    padding: 0;
}

/* Heading */
h1 {
    text-align: center;
    color: #ff69b4;
    margin: 20px 0;
}

/* Navigation */
nav {
    background: #a7c7e7;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

nav > a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
    transition: background 0.25s, color 0.25s;
}

nav > a:hover {
    background: rgb(56, 130, 209);
    color: white;
}

/* Website content */
.content {
    background: pink;
    color: black;
    width: 80%;
    max-width: 800px;
    margin: 40px auto 100px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.content h2 {
    margin-bottom: 15px;
    color: rgb(56, 130, 209);
}


/* Footer */
.footer {
    background: pink;
    color: black;
    text-align: center;
    padding: 15px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid rgb(56, 130, 209);
    font-size: 0.9em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.footer p {
    margin: 0;
}

<audio controls>
        <source src="song.mp3" type="audio/MP3">
        your browser does not support video element
    </audio> 

    nav a {
    position: relative;
    text-decoration: none;
    padding: 10px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: pink;
    transition: 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}